<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tipos</title>
</head>
<body style="background-color:lightblue">
    <div>
        <h1>Demo 03: Tipos de Datos y Tipos de Tensores en TFJS</h1>
        <div>
            <input id="btnEscalar" type="button" value="Escalar" />
            <input id="btnTensor1D" type="button" value="Tensor1D" />
            <input id="btnTensor2D" type="button" value="Tensor2D" />
            <input id="btnTensor3D" type="button" value="Tensor3D" />
            <input id="btnVariables" type="button" value="Variables" />
        </div>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/@Html.Raw("@")tensorflow/tfjs@latest'></script>
    <script src="~/Scripts/Tipo.js"></script>
</body>
</html>
