<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ModeloMobileNet</title>
</head>
<body style="background-color:lightblue">
    <div>
        <h1>Demo 12: Modelo Predefinido MobileNet para Clasificar Imagenes</h1>
        <h2>
            Selecciona la Imagen a Clasificar:
            <input id="txtArchivo" type="text" style="width:500px" />
            <input id="btnSeleccionar" type="button" value="..." disabled="disabled"/>
            <input id="btnClasificar" type="button" value="Clasificar" disabled="disabled"/>
            <input id="btnNuevo" type="button" value="Nuevo" />
            <input id="fupImagen" type="file" style="display:none" accept="image/*" />
        </h2>
        <table style="width:100%">
            <tr>
                <td style="width:30%;vertical-align:top">
                    <img id="imgPreview" width="500" height="500" />
                </td>
                <td style="width:70%;vertical-align:top">
                    <div id="divClasificacion"></div>
                </td>
            </tr>
        </table>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/@Html.Raw("@")tensorflow/tfjs@latest'></script>
    <script src='https://cdn.jsdelivr.net/npm/@Html.Raw("@")tensorflow-models/mobilenet@2.1.1/dist/mobilenet.min.js'></script>
    <script src="~/Scripts/ModeloMobileNet.js"></script>
</body>
</html>
