<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Operaciones</title>
</head>
<body style="background-color:lightblue">
    <div>
        <h1>Demo 06: Operaciones en un Tensor en TFJS</h1>
        <div>
            <input id="btnSuma" type="button" value="Suma" />
            <input id="btnPromedio" type="button" value="Promedio" />
            <input id="btnMinimo" type="button" value="Minimo" />
            <input id="btnMaximo" type="button" value="Maximo" />
            <input id="btnCuadrado" type="button" value="Cuadrado" />
            <input id="btnRaizCuadrada" type="button" value="Raiz Cuadrada" />
            <input id="btnVarianza" type="button" value="Varianza" />
            <input id="btnDesviacionEstandar" type="button" value="DesviacionEstandar" />
        </div>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/@Html.Raw("@")tensorflow/tfjs@latest'></script>
    <script src="~/Scripts/Operaciones.js"></script>
</body>

</html>
