<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Operaciones</title>
</head>
<body style="background-color:lightblue">
    <div>
        <h1>Demo 05: Operaciones entre Tensores y Manejo de Memoria en TFJS</h1>
        <div>
            <input id="btnSumarTensores" type="button" value="Sumar Tensores" />
            <input id="btnMultiplicarTensores" type="button" value="Multiplicar Tensores" />
            <input id="btnProductoPunto" type="button" value="Producto Punto" />
            <input id="btnLiberarTensorMemoria" type="button" value="Liberar Tensor de Memoria" />
            <input id="btnLiberarBloqueMemoria" type="button" value="Liberar Bloque de Memoria" />
        </div>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/@Html.Raw("@")tensorflow/tfjs@latest'></script>
    <script src="~/Scripts/Operaciones.js"></script>
</body>

</html>
