<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rostro</title>
</head>
<body style="background-color:lightblue">
    <div>
        <h1>Demo 19: Detección de rostros en Tiempo Real usando el Modelo MediaPipe FaceDetection en una imagen</h1>
        <table>
            <tr>
                <td colspan="2">
                    <input id="btnActivarCamara" type="button" value="Activar Camara" disabled="disabled" />
                    <span id="spnMensaje" style="font-weight:bold"></span>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top">
                    <video id="video" width="700" height="500"></video>
                </td>
                <td style="vertical-align:top">
                    <div><canvas id="canvas" width="700" height="500"></canvas></div>
                </td>
            </tr>
        </table>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/@Html.Raw("@")tensorflow/tfjs@latest'></script>
    <script src='https://cdn.jsdelivr.net/npm/@Html.Raw("@")tensorflow-models/face-detection'></script>
    <script src="~/Scripts/Rostro.js"></script>
</body>
</html>
