<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClasificacionBinaria</title>
</head>
<body style="background-color:lightblue">
    <div>
        <h1>Demo 10: Clasificacion Binaria: AND, OR, XOR</h1>
        <div>
            <input id="btnEntrenarAnd" type="button" value="Entrenar And" />
            <input id="btnEntrenarOr" type="button" value="Entrenar Or" />
            <input id="btnEntrenarXor" type="button" value="Entrenar Xor" />
            <input id="btnClasificarAnd" type="button" value="Clasificar And" />
            <input id="btnClasificarOr" type="button" value="Clasificar Or" />
            <input id="btnClasificarXor" type="button" value="Clasificar Xor" />
        </div>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/@Html.Raw("@")tensorflow/tfjs@latest'></script>
    <script src="~/Scripts/ClasificacionBinaria.js"></script>
</body>
</html>
