<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LeerValores</title>
</head>
<body style="background-color:lightblue">
    <div>
        <h1>Demo 04: Lectura de Valores de Tensores en TFJS</h1>
        <div>
            <input id="btnValoresSincrono" type="button" value="Valores Sincrono" />
            <input id="btnUnValorSincrono" type="button" value="Un Valor Sincrono" />
            <input id="btnValoresAsincrono" type="button" value="Valores Asincrono" />
            <input id="btnUnValorAsincrono" type="button" value="Un Valor Asincrono" />
            <input id="btnArraySincrono" type="button" value="Array Sincrono" />
            <input id="btnUnValorSincronoArray" type="button" value="Un Valor Sincrono Array" />
            <input id="btnArrayAsincrono" type="button" value="Array Asincrono" />
            <input id="btnUnValorAsincronoArray" type="button" value="Un Valor Asincrono Array" />
        </div>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/@Html.Raw("@")tensorflow/tfjs@latest'></script>
    <script src="~/Scripts/LeerValores.js"></script>
</body>

</html>
